
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <%=link_to "Office Partners 360", root_path, class:"col-md-3 col-lg-2 mr-0 px-3" %>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <%if user_signed_in?%>
        <ul class="navbar-nav px-3">
            <li class="nav-item d-flex align-items-center"> 
                <%=link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link"%>
            </li>
    <%else%>
            <li class="nav-item d-flex align-items-center"> 
                <%=link_to "Login", new_user_session_path, class:"nav-link"%>
            </li>
    <%end%>
        </ul>
</nav>



<%if !user_signed_in? %>
    <%= render 'layouts/sidebar'%>
<%end%>